@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins-Regular.ttf') format('truetype'),
         url('Fonts/Poppins-Bold.ttf') format('truetype'),
         url('Fonts/Poppins-Italic.ttf') format('truetype'),
         url('Fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bs-body-font-family: 'Poppins', sans-serif !important;
}


.navbar-custom {
    background-color: #3C963D !important;
}

html {
    scroll-behavior: smooth;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: 	#000 !important;
}

.navbar-custom .nav-link:hover {
    color: #FFFACD !important;
}

body {
    min-height: 55rem;
    background-image: url(/styles/img/backdrop.jpg) !important ;
    color: #000 !important;
}

a:hover {
    color: #FFFACD !important;
}

a {
    color: #000 !important;
}

body, .navbar, .btn, .nav-link, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 150px;
}

.about-text {
    max-width: 800px;
    word-wrap: break-word;
    text-align: justify;
    margin: 0 auto;
}

.container3, .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 3rem;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 75vh;
    margin-bottom: 75px;
    flex-wrap: wrap;
}

.img1 {
    margin-top: -100px;
}

.poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.video {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 20px;
    margin-top: 0px !important;
    padding-top: 10px;
    margin-top: 2rem !important;
    padding-top: 0 !important;
}

:target {
    scroll-margin-top: 70px;
}

footer {
    margin-top: 20px;
}

.tagline {
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: hsl(0, 0%, 75%) !important;
}

.navbar-custom .nav-link {
    color: 	#264d00 !important;
    transition: color 0.3s ease-in-out;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scrolling-wrapper::-webkit-scrollbar {
    height: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    background: #eee;
}
